html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tech-wrapper {
  background-color: rgb(105, 158, 228);
}

.tech-list {
  list-style-type: none;
  margin: 0;
  padding: 15px 10px 15px 10px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 15px 15px 30px 30px rgba(0, 0, 0, 0.1);
}

.tech-item {
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s all;
}

.tech-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.tech-img {
  width: 64px;
  height: 64px;
  margin-top: 20px;
}

.tech-heading {
  color: rgb(105, 158, 228);
  margin: 0;
  margin-top: 30px;
}

.tech-text {
  width: 240px;
  text-align: center;
  color: rgba(105, 158, 228, 0.8);
  font-weight: 600;
}

.tech-price {
  font-size: 24px;
  font-weight: 800;
  color: rgb(105, 158, 228);
  margin: 0;
}